<div class = 'flex-container'>

  <div class = 'flex-item'>
    <img  src = '/images/about.jpg' />
  </div>

  <div class = 'flex-middle'></div>

  <div class = 'article'>

    <% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>
       Garden care is an on-line booking system. Clients have a password which allows them to book an empty slot for the gardeners to visit.
    </p>
    </div>

</div>
