<div class = 'flex-static'>

  <div class = 'flex-image'>
    <img  src = '/images/about.jpg' />
  </div>

  <div class = 'flex-middle'></div>

  <div class = 'article-form'>

    <% provide(:title, 'Help') %>

    <h1>Help!</h1>

    <p>
    </p>
  </div>

</div>
