<div class = 'flex-static'>

  <div class = 'flex-image'>
    <img  src = '/images/home.jpg' />
  </div>

  <div class = 'flex-middle'></div>

  <div class = 'article-form'>

  <% provide(:title, 'Home') %>

  <h1>Welcome to Garden Care</h1>
  <p>
     Garden care is an on-line booking system. Clients have a password which allows them to book an empty slot for the gardeners to visit.
  </p>
  <p>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-primary btn-lg' %>
  </p>
  </div>
</div>
