<div class="row-fluid">
  <div class="span12">

    <div class="center hero-unit">
      <h1>Welcome to Garden Care</h1>
    </div>
    <div class="row-fluid">
      <div class="offset5 span2">
        <%= link_to 'Sign up now!', signup_path, class: 'primary_action_button'%>
      </div>
    </div>
  </div>
</div>

