<% provide(:title, 'Password Resent') %>
<h1>Password Resent</h1>
<p>
  If you don't receive instructions within a minute or two, check your email's spam and junk filters, or try resending your request.
  <%= link_to"resending your request", new_password_reset_path %>
</p>


