<td><%= link_to user.full_name, user %></td>
<td><%= link_to number_to_phone(user.contact.home_phone), user %></td>
<td>
  <%= if can? :edit, user
        link_to 'Edit', edit_profile_path(user)
      end %>
</td>
<td>
  <%= if  can? :destroy, user
        link_to  'Delete', user, confirm: 'You sure?', method: 'delete'
      end %>
</td>

