<% provide(:title, "Calendar of Appointments") %>
<h1>Calendar of Appointments</h1>

<div id='calendar'></div>

<%= link_to 'List Appointments', appointments_path %>&nbsp;&nbsp;&nbsp;
<%= link_to 'Create Appointment', new_appointment_path %>
