// Static pages and sign in use .flex_container
// They use layout/application & .flex_container
// 3 column image, middle & article

@import 'settings.colors';

@mixin setflex {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all{

  .flex-col {
    @include setflex;
    flex-direction: column;
  }

  .flex-container {
    @include setflex;
    flex-direction: row;

    .flex1 { order: 1; }
    .flex2 { order: 3; }
    .flex-middle { order: 2; }
  }

  .flex-form {
    @include setflex;
    flex-direction: row;
  }

  .flex-signin {
    @include setflex;
    flex-direction: row;

    .flex-image { order: 3; }
    .article { order: 1; }
    .flex-middle { order: 2; }
  }

  .flex-footer {
    display: flex;
    flex: 1 100%;
    flex-direction: row;
  }

  .flex-nav {
    @include setflex;
    flex-direction: row;
   }

  .flex-static {
    @include setflex;
    flex-direction: row;

    .flex-image { order: 1; }
    .article-form { order: 3; }
    .flex-middle { order: 2; }
  }

  .flex-user {
    @include setflex;
    flex-direction: column;

    .article { order: 1; }
    .article1 { order: 2; }
    .article2 { order: 3; }
    .flex-footer { order: 4; }
  }

}

/* Medium screens  centralise column*/
@media all and (max-width: 1100px) {

  .flex-container {
    @include setflex;
    align-items: center;
    flex-direction: column;

    .flex1 { order: 1; }
    .flex2 { order: 2; }
    .flex-middle { order: 3; }
  }

  .flex-static {
    @include setflex;
    align-items: center;
    flex-direction: column;

    .flex-image { order: 1; }
    .article-form { order: 2; }
    .flex-middle { order: 3; }
  }

}

/* On small screens, we are no longer using row direction but column */
@media all and (max-width: 500px) {

  .flex-container {
    @include setflex;
    align-items: center;
    flex-direction: column;
    .flex1 { order: 1; }
    .flex2 { order: 2; }
    .flex-middle { order: 3; }
  }

  .flex-static {
    @include setflex;
    align-items: center;
    flex-direction: column;

    .flex-image { order: 1; }
    .article-form { order: 2; }
    .flex-middle { order: 3; }
  }

}

// Used for pictures

.flex-image {
  height: 300px;
  padding-top: 20px;
  text-align: left;
  width: 310px;
}

// Used between main 2 blocks to give a small space

.flex-middle {
  height: 5px;
  width: 70px;
}

/* We tell all items to be 100% width */
.flex-header,
.flex-100pc {
  flex: 1 100%;
}

@mixin flex-basic {
  border: 1px solid;
  border-color: $color-complimentary-shade-0;
  font-size: 16px;
  text-align: left;
  width: 500px;
}

.flex1 {
  @include flex-basic;
  background-color: #F5F5F5;
}

.flex2 {
  @include flex-basic;
  background-color: $color-white;
}

.article,
.article1,
.article2 {
  background-color: $color-white;
  padding: 20px;
}

.article-form {
  font-size: 16px;
  padding: 20px;
  text-align: left;
  width: 500px;
}
