/* Custom widths used in columns and articles */

.width50 {
  width: 50px;
  }

.width150 {
  width: 150px;
}

.width100 {
  width: 100px;
}

.width200 {
  width: 200px;
}

.width500 {
  width: 500px;
}
