//
// Navbar is configured using variables
// Variables must be before @import bootstrap;
// Less variables names: http://getbootstrap.com/customize/#less-variables
//
$navbar-default-bg: #50B450;
$navbar-default-color: #46a546;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: black;
$navbar-height: 40px;

@import "bootstrap-sprockets";
@import 'bootstrap';


$grayLight: purple;
$grayDarker: green;

$grayMediumLight: #eaeaea;


/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: .5em;
  text-align: center;
}

h2 {
  color: $grayLight;
  font-size: 1.7em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: .3em;
  text-align: center;
}


h3 {
  @extend h2;
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Nav bar  see also colour overrides at the top of scss*/
.icon-leaf.icon-white { vertical-align: 5px; }


/* Flash Messages - to correspond to bootstrap styling */

/* :alert styled as bootstrap alert */
div.alert.alert-alert {
  @extend .alert-error;
}

/* :notice styled as bootstrap notice */
div.alert.alert-notice {
  @extend .alert-info;
}

/*  sidebar */

.sidebar-nav ul li {
  @extend .col-md-12;
}

/* footer */

footer {
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  margin-top: 3%;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 1em;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 3%;
  width: 100%;
}

/* tables  */

table {
  table-layout: fixed;  /* makes columns line up with and without data */
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  height: auto;
  width: 100%;
}

#error_explanation {
  color: #f00;

  ul {
    list-style: none;
    margin: 0 0 18px;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .error;
 }


 /* this is the default action for that form */

.primary_action_button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
}

.cancel_button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-danger;
}

.tenerary_action_button {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-xs;
}

.tenerary_action_button_warn {
  @extend .tenerary_action_button;
  @extend .btn-danger;
}

.standard_button {
  @extend .btn;
  @extend .btn-default;
}

/* search box on index page  */

.form-inline {
  @extend .well;
}

.input-query {
  @extend .search-query;
  @extend .col-md-3;
}

.form-buttons {
  @extend .form-actions;
  background-color: white;
  border-top: 0;
}


//
// spacing elements
//


.spacer-1-24 {
  margin-left: 4.1666667%;
}


.line-spacer-1 {
  margin-top: 1em;
}

.line-spacer-2 {
  margin-top: 2em;
}

.line-spacer-3 {
  margin-top: 3em;
}