@import 'settings.colors';

/* footer */

footer {
  border-top: 1px solid $color-complimentary-shade-0;
  color: $color-complimentary-shade-0;
  font-size: 16px;
  margin-top: 3%;
  padding-top: 5px;

  a {
    color: $color-complimentary-shade-0;

    &:hover {
      color: $color-text-primary;
    }
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 1em;
    }
  }
}

.flex-left {
  width: 50%;
}

.flex-right {
  width: 50%;
}
