//
// Navbar is configured using variables
// Variables must be before @import bootstrap;
// Less variables names: http://getbootstrap.com/customize/#less-variables
//
$navbar-default-bg: #50B450;
$navbar-default-color: #46a546;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: black;
$navbar-height: 40px;

@import 'bootstrap-sprockets';
@import 'bootstrap';


$grayLight: purple;
$grayDarker: green;

$grayMediumLight: #eaeaea;


/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  /* font size left alone and all sizes are relative using em
     argument to go for rem (size of font relative to html element) */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* Nav bar  see also colour overrides at the top of scss*/
.icon-leaf.icon-white { vertical-align: 5px; }


/* Flash Messages - to correspond to bootstrap styling */

/* :alert styled as bootstrap alert */
div.alert.alert-alert {
  @extend .alert-danger;
}

/* :notice styled as bootstrap notice */
div.alert.alert-notice {
  @extend .alert-info;
}

/*  sidebar */

.sidebar-nav ul li {
  @extend .col-md-12;
}

/* footer */

footer {
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  margin-top: 3%;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $grayDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 1em;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 3%;
  width: 100%;
}

/* tables  */

table {
  table-layout: fixed;  /* makes columns line up with and without data */
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  height: auto;
  width: 100%;
}

.error_explanation {
  color: #f00;

  ul {
    list-style: none;
    margin: 0 0 18px;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
 }


//
// spacing elements
//

.spacer-1-24 {
  margin-left: 4.1666667%;
}


.line-spacer-1 {
  margin-top: 1em;
}

.line-spacer-2 {
  margin-top: 2em;
}

.line-spacer-3 {
  margin-top: 3em;
}
