// Static pages and sign in use .flex_container
// They use layout/application & .flex_container
// 3 column image, middle & article

@import 'settings.colors';

@mixin setflex {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all{

  .flex-container {
    @include setflex;
    flex-direction: row;

    .flex1 { order: 1; }
    .flex2 { order: 3; }
    .flex-middle { order: 2; }
  }

  .flex-static {
    @include setflex;
    flex-direction: row;

    .flex-image { order: 1; }
    .article { order: 3; }
    .flex-middle { order: 2; }
  }

  .flex-form {
    @include setflex;
    flex-direction: row;
  }
}

/* Medium screens  centralise column*/
@media all and (max-width: 1100px) {
  .flex-container {
    @include setflex;
    align-items: center;
    flex-direction: column;

    .flex1 { order: 1; }
    .flex2 { order: 2; }
    .flex-middle { order: 3; }
  }

  .flex-static {
    @include setflex;
    align-items: center;
    flex-direction: column;

    .flex-image { order: 1; }
    .article { order: 2; }
    .flex-middle { order: 3; }
  }

}

/* On small screens, we are no longer using row direction but column */
@media all and (max-width: 500px) {
  .flex-container {
    @include setflex;
    align-items: center;
    flex-direction: column;
    .flex1 { order: 1; }
    .flex2 { order: 2; }
    .flex-middle { order: 3; }
  }

  .flex-static {
    @include setflex;
    align-items: center;
    flex-direction: column;

    .flex-image { order: 1; }
    .article { order: 2; }
    .flex-middle { order: 3; }
  }

}

.flex-image {
  height: 300px;
  padding-top: 20px;
  text-align: left;
  width: 310px;
}

// Used between main 2 blocks to give a small space

.flex-middle {
  height: 5px;
  width: 70px;
}

.article {
  font-size: 16px;
  height: 300px;
  text-align: left;
  width: 310px;
}


/* We tell all items to be 100% width */
.flex-header,
.flex-100pc,
.flex-nav,
.flex-footer {
  flex: 1 100%;
}

.flex-wrapping {
  display: flex;
  flex: 1 100%;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex1 {
  background-color: white;
  border: 1px solid;
  border-color: $color-complimentary-shade-0;
  font-size: 16px;
  text-align: left;
  width: 500px;
}

.flex2 {
  background-color: white;
  border: 1px solid;
  border-color: $color-complimentary-shade-0;
  font-size: 16px;
  text-align: left;
  width: 500px;
}

.article500 {
  background-color: white;
  border: 1px solid;
  border-color: $color-complimentary-shade-0;
  border-radius: 20px;
  font-size: 16px;
  text-align: left;
  width: 500px;
}

.article-form {
  font-size: 16px;
  padding: 20px;
  text-align: left;
  width: 500px;
}

.flex-item {
  height: 300px;
  text-align: left;
  width: 310px;
}

.flex50pc {
  text-align: left;
  width: 50%;
}

.flex-item2 {
  background-color: blue;
  height: 100px;
  text-align: left;
  width: 130px;
}

.flex-side {
  width: 25%;
}
