@import 'settings.colors';

.contain {
  display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  flex: 1 100%;
  justify-content: center;
}

@mixin setcolumn {
  padding-left: 20px;
  height: 20px;
  width: 100px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
}

@mixin setcolor {
  background: white;
  color: $color-text-black;
}

  /* Headings */
.columnhead50 {
  @include setcolumn;
  @include setcolor;
  width: 50px;
  }

.columnhead150 {
  @include setcolumn;
  @include setcolor;
  width: 150px;
}

.columnhead200 {
  @include setcolumn;
  @include setcolor;
  width: 200px;
}

/* Column white background */
.columna50 {
  @include setcolumn;
  @include setcolor;
  width: 50px;
}

.columna150 {
  @include setcolumn;
  @include setcolor;
  width: 150px;
}

.columna200 {
  @include setcolumn;
  @include setcolor;
  width: 200px;
}
