<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Appointments for</li>
    <li><a href="#">This Week</a></li>
    <li><a href="#">Next 30 days</a></li>
    <li><a href="#">Last Month</a></li>
    <li class="nav-header">Analytical</li>
    <li><a href="#">Last Saw Client</a></li>
    <li><a href="#">Book from</a></li>
    <li><a href="#">Book next week</a></li>
  </ul>
</div><!--/.well -->