<footer class="footer">
  <small>
    Garden Care and sendgrid
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'Sendgrid',   'http://sendgrid.com/' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
