<footer class = 'flex-footer'>
  <div class = 'flex-left'>
    Garden Care
  </div>
  <nav class = 'flex-right'>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= "Version #{VersionHelper::VERSION}" %></li>
    </ul>
  </nav>
</footer>
