<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main class = 'container' role ='main'>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
